$custom-color-primary: #ed1c24;
$custom-color-secondary: #ffcc03;
$custom-color-tertiary: #3c59a5;
$custom-color-quaternary: #0b294d;

$custom-gradient-secondary: linear-gradient(
  135deg,
  $custom-color-tertiary 0%,
  $custom-color-quaternary 100%
);

$custom-gradient-primary: linear-gradient(
  135deg,
  $custom-color-quaternary 0%,
  $custom-color-tertiary 100%
);

$custom-color-white: #f1f1f1;
$custom-color-dark: #212121;
$custom-color-gray: #bebebe;
$custom-color-shadow: rgba(0, 0, 0, 0.5);
