.hero-section {
  background: $custom-gradient-primary;
  width: 100%;
}

.hero-container {
  padding: 6rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.random-pokemon-span {
  width: 350px;
  height: 350px;
  position: relative;
}

.random-pokemon {
  object-fit: contain;
  object-position: right;
}

.pokeball-hero {
  width: 230px;
  height: auto;
}

@media (max-width: 370px) {
    .random-pokemon-span {
        width: 280px;
        height: 280px;
      }
}
